﻿@model Booking.Models.Training

@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h4>Info treeningu kohta</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainingType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingType.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Tagasi nimekirja", "Index")
</p>
