﻿@model Booking.Models.UserTrainingType

@{
    ViewBag.Title = "Kustuta";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2></h2>

<h3>Oled kindel, et soovid spetsialisti nimekirjast kustutada?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Spetsialist")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingType.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi spetsialistide nimekirja juurde", "Index")
        </div>
    }
</div>
