﻿@model Booking.Models.IndexViewModel
@{
    ViewBag.Title = "Muuda konto seadeid";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Parool:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Muuda parooli", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Uus parool", "SetPassword")
            }
            ]
        </dd>
        @*<dt>Muud seaded:</dt>
        <dd>
            @Model.Logins.Count
            @Html.ActionLink("Muuda", "ManageLogins") ]
        </dd>*@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@


    </dl>
</div>
