﻿@model IEnumerable<Booking.Models.ApplicationUser>

@{
    ViewBag.Title = "Administraatorid & spetsialistid";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Administraatorid & spetsialistid</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Eesnimi", "AdminsSpecialists", new { sortOrder = ViewBag.FirstNameSortParm })
            @*@Html.DisplayNameFor(model => model.FirstName)*@
        </th>
        <th>
            @Html.ActionLink("Perekonnanimi", "AdminsSpecialists", new { sortOrder = ViewBag.LastNameSortParm })
            @*@Html.DisplayNameFor(model => model.LastName)*@
        </th>
        <th>
            @Html.ActionLink("Telefoninumber", "AdminsSpecialists", new { sortOrder = ViewBag.PhoneSortParm })
            @*@Html.DisplayNameFor(model => model.Phone)*@
        </th>
        <th>
            @Html.ActionLink("Email/ kasutajatunnus", "AdminsSpecialists", new { sortOrder = ViewBag.EmailSortParm })
            @*@Html.DisplayName("Email/ kasutajatunnus")*@
        @*<th>
            @Html.ActionLink("Roll", "AdminsSpecialists", new { sortOrder = ViewBag.RolesSortParm })
            @Html.DisplayName("Roll")
          </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Roles)
        </td>*@
        <td>
            @Html.ActionLink("Muuda", "EditAdminsSpecialists", new { id = item.Id }) |
            @Html.ActionLink("Kustuta", "DeleteAdminsSpecialists", new { id = item.Id })
        </td>
    </tr>
}

</table>
