﻿@model Booking.Models.ApplicationUser

@{
    ViewBag.Title = "Kustuta konto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2></h2>

<h3>Oled kindel, et soovid konto kustutata?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayName("Email/ kasutajakonto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta konto" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi administraatorite & klientide nimekirja", "AdminsSpecialists")
        </div>
    }
</div>
