﻿@model IEnumerable<Booking.Models.TrainingType>

@{
    ViewBag.Title = "Treeningu tüübid";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Treeningu tüübid</h2>

<p>
    @Html.ActionLink("Lisa uus treeningu tüüp", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Treeningu tüüp", "Index", new { sortOrder = ViewBag.TrainingTypeSortParm })
            @*@Html.DisplayName("Treeningu tüüp")*@
        </th>
        <th>
            @Html.ActionLink("Kirjeldus", "Index", new { sortOrder = ViewBag.DescriptionSortParm })
            @*@Html.DisplayNameFor(model => model.Description)*@
        </th>
        <th>
            @Html.ActionLink("Hind", "Index", new { sortOrder = ViewBag.PriceSortParm })
            @*@Html.DisplayNameFor(model => model.Price)*@
        </th>
        <th>
            @Html.ActionLink("Maksimaalne osalejate arv", "Index", new { sortOrder = ViewBag.MaxParticipantsSortParm })
            @*@Html.DisplayNameFor(model => model.MaxParticipants)*@
        </th>
        <th>
            @Html.ActionLink("Ruum", "Index", new { sortOrder = ViewBag.RoomSortParm })
            @*@Html.DisplayNameFor(model => model.Room)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxParticipants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Kustuta", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
