﻿@model IEnumerable<Booking.Models.SpecialistTrainingType>

@{
    ViewBag.Title = "Spetsialistide oskused";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Spetsialistide oskused</h2>

<p>
    @Html.ActionLink("Lisa uus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Specialist.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainingType.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Specialist.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainingType.Name)
        </td>
        <td>
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Kustuta", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
