﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Broneerimissüsteem </h1>
</div>

<div class="row">
    <p class="lead">
        Tere tulemast meie broneerimissüsteemi lehele. Alustamiseks:
    </p>
    <img src="/Content/Picture/bookOnline.png" style="float:left; height:100px; padding-right:20px" />
    <p><button style="width: 90px">@Html.ActionLink("Logi sisse", "Login", "Account")</button></p>
    <p><button style="width: 90px">@Html.ActionLink("Registreeri", "Register", "Account")</button></p>
</div>