﻿@model IEnumerable<Booking.Models.TrainingUser>

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Registreerunud</h4>

<table class="table">

    @foreach (var item in Model)
    {
        <p>
           
                @Html.DisplayFor(modelItem => item.FullName)
          
        </p>
    }
</table>
<p>
    @Html.ActionLink("Tagasi treeningute nimekirja juurde", "Index")
</p>
